# default
.git/
.vscode/
node_modules/
package-lock.json
yarn.lock

# development
package.json
packages/cli/src
packages/cli/__tests__
packages/cli/node_modules
packages/cli/package.json
packages/cli/package-lock.json
packages/cli/app.config.js
packages/cli/global.config.js
packages/cli/jest.config.js
packages/cli/jsconfig.json
packages/cli/.sequelize

# sequelize-cli migration
packages/cli/databases