# default
.git
.vscode
node_modules
package-lock.json
yarn.lock
note.txt

# development
package*.json
packages/src*
packages/__tests__
packages/node_modules
packages/package.json
packages/package-lock.json
packages/app.config*.js
packages/global.config.js
packages/jest.config.js
packages/jsconfig.json
packages/.sequelizerc
packages/beech
packages/passport.config.js
packages/beech.config.js
build.bat

# sequelize-cli migration & seeder
packages/databases